<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Компания "Домалогика" Умные технологии.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <link href="http://getbootstrap.ru/docs/v4-alpha/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .ggree {
      background: rgba(98, 98, 98, 0.73);
      border-radius: 5px;
      padding: 15px 10px 0;
      margin-bottom: 50px;
    }
    .ggrees {
      color: #fff !important;
      text-decoration: none;
    }
  </style>
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Главная</a></li>
          <li><a href="#portfolio">Проекты</a></li>
          <li><a href="#contact">Команда</a></li>
          <!-- <li><a href="#services">СМИ</a></li> -->
          <!-- <li><a href="#team">Контакты</a></li> -->
          <!-- <li><a href="#about">О нас</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>IoT</h1>
      <h2>Наука, технологии и инженерное дело</h2>
      <a href="#portfolio" class="btn-get-started">Подробнее</a>
    </div>
  </section><!-- #hero -->

  <main id="main">


    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Проекты</h3>
        </div>
        <!-- <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">Все</li>
              <li data-filter=".filter-app">Лего Водомат</li>
              <li data-filter=".filter-card">HoReCa</li>
            </ul>
          </div>
        </div> -->
        <div class="row">

          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">Все</li>
              <li data-filter=".filter-app">Лего Водомат</li>
              <li data-filter=".filter-card">HoReCa</li>
            </ul>
          </div>
        </div>


        <div class="row" id="portfolio-wrapper">
                 <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                   <a href="../static/img/portfolio/6.jpg" target="_blank">
                     <img src="../static/img/portfolio/6.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>Лего Водомат</h4>
                       <span>Первое выпуск</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                   <a href="../static/img/portfolio/1.jpg" target="_blank">
                     <img src="../static/img/portfolio/1.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>Водомат пос.Ленинкент</h4>
                       <span>Установка водомата в пос.Ленинкент</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                   <a href="../static/img/portfolio/7.jpg" target="_blank">
                     <img src="../static/img/portfolio/7.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>Лего Водомат</h4>
                       <span>Проектирование водомата</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                   <a href="../static/img/portfolio/2.jpg" target="_blank">
                     <img src="../static/img/portfolio/2.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>HoReCa Водомат</h4>
                       <span>Alored dono par</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                   <a href="../static/img/portfolio/3.jpg" target="_blank">
                     <img src="../static/img/portfolio/3.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>HoReCa Водомат</h4>
                       <span>Alored dono par</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-web">
                   <a href="../static/img/portfolio/4.jpg" target="_blank">
                     <img src="../static/img/portfolio/4.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>Первый водомат</h4>
                       <span>Выставка в г.Дербент</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-card">
                   <a href="../static/img/portfolio/5.jpg" target="_blank">
                     <img src="../static/img/portfolio/5.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>HoReCa Водомат</h4>
                       <span>Alored dono par</span>
                     </div>
                   </a>
                 </div>

                 <div class="col-lg-3 col-md-6 portfolio-item filter-app">
                   <a href="../static/img/portfolio/8.jpg" target="_blank">
                     <img src="../static/img/portfolio/8.jpg" alt="" style="width: 100%; margin-left: 15px;">
                     <div class="details">
                       <h4>Лего Водомат</h4>
                       <span>Покраска водомата</span>
                     </div>
                   </a>
                 </div>

               </div>

             </div>
           </section><!-- #portfolio -->




    <section id="contact">
              <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="section-header justify-content-center">
                  <h3 class="section-title">Команда</h3>
                  <p class="section-description">Наша команда</p>
                </div>
              </div>

             

              <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="row justify-content-center">
                  
                  <div class="container">
                          <div class="row about-container">

                            <div class="col-lg-12 content order-lg-1 order-2">
      
                              <p>
                                <img src="../static/img/com.jpg" alt="" style="max-width: 100%">
                              </p>
                              <br>
                            </div>

                          </div>

                        </div>
       



              </div>    </div>
            </section>




  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>&copy; Domalogica</strong> 2018
      </div>
      <div class="credits">
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- JavaScript Libraries -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="http://getbootstrap.ru/docs/v4-alpha/dist/js/bootstrap.js"></script>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/easing/easing.min.js"></script>
  <script src="../static/wow/wow.min.js"></script>

  <script src="../static/superfish/superfish.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>
</html>