<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Regna Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Главная</a></li>
          <li><a href="#portfolio">Проекты</a></li>
          <li><a href="#services">СМИ</a></li>
          <li><a href="#team">Контакты</a></li>
          <li><a href="#about">О нас</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>IoT</h1>
      <h2>Наука, технологии и инженерное дело</h2>
      <a href="#portfolio" class="btn-get-started">Подробнее</a>
    </div>
  </section><!-- #hero -->

  <main id="main">


  	<!--==========================
  	  Portfolio Section
  	============================-->
  	<section id="portfolio">
  	  <div class="container wow fadeInUp">
  	    <div class="section-header">
  	      <h3 class="section-title">Проекты</h3>
  	      <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
  	    </div>
  	    <div class="row">

  	      <div class="col-lg-12">
  	        <ul id="portfolio-flters">
  	          <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">Все</li>
  	          <li data-filter=".filter-app">Лего Водомат</li>
  	          <li data-filter=".filter-card">HoReCa</li>
  	        </ul>
  	      </div>
  	    </div>

  	    <div class="row" id="portfolio-wrapper">
  	      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
  	        <a href="">
  	          <img src="../static/img/portfolio/app1.jpg" alt="">
  	          <div class="details">
  	            <h4>App 1</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
  	        <a href="">
  	          <img src="../static/img/portfolio/web2.jpg" alt="">
  	          <div class="details">
  	            <h4>Web 2</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
  	        <a href="">
  	          <img src="../static/img/portfolio/app3.jpg" alt="">
  	          <div class="details">
  	            <h4>App 3</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-card">
  	        <a href="">
  	          <img src="../static/img/portfolio/card1.jpg" alt="">
  	          <div class="details">
  	            <h4>Card 1</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-card">
  	        <a href="">
  	          <img src="../static/img/portfolio/card2.jpg" alt="">
  	          <div class="details">
  	            <h4>Card 2</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
  	        <a href="">
  	          <img src="../static/img/portfolio/web3.jpg" alt="">
  	          <div class="details">
  	            <h4>Web 3</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-card">
  	        <a href="">
  	          <img src="../static/img/portfolio/card3.jpg" alt="">
  	          <div class="details">
  	            <h4>Card 3</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
  	        <a href="">
  	          <img src="../static/img/portfolio/app2.jpg" alt="">
  	          <div class="details">
  	            <h4>App 2</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
  	        <a href="">
  	          <img src="../static/img/portfolio/logo1.jpg" alt="">
  	          <div class="details">
  	            <h4>Logo 1</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
  	        <a href="">
  	          <img src="../static/img/portfolio/logo3.jpg" alt="">
  	          <div class="details">
  	            <h4>Logo 3</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
  	        <a href="">
  	          <img src="../static/img/portfolio/web1.jpg" alt="">
  	          <div class="details">
  	            <h4>Web 1</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
  	        <a href="">
  	          <img src="../static/img/portfolio/logo2.jpg" alt="">
  	          <div class="details">
  	            <h4>Logo 2</h4>
  	            <span>Alored dono par</span>
  	          </div>
  	        </a>
  	      </div>

  	    </div>

  	  </div>
  	</section><!-- #portfolio -->




  	<section id="contact">
  	          <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
  	            <div class="section-header justify-content-center">
  	              <h3 class="section-title">Команда</h3>
  	              <p class="section-description">Наша команда</p>
  	            </div>
  	          </div>

  	         

  	          <div class="container wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
  	            <div class="row justify-content-center">
  	              
  	              <div class="container">
  	                      <div class="row about-container">

  	                        <div class="col-lg-12 content order-lg-1 order-2">
  	  
  	                          <p>
  	                            <img src="../static/img/com.jpg" alt="" style="max-width: 100%">
  	                          </p>
  	                          <br>
  	                        </div>

  	                      </div>

  	                    </div>
  	   



  	          </div>    </div>
  	        </section>
 

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <strong>&copy; Domalogica</strong> 2018
      </div>
      <div class="credits">
        Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="../static/jquery/jquery-migrate.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/easing/easing.min.js"></script>
  <script src="../static/wow/wow.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8HeI8o-c1NppZA-92oYlXakhDPYR7XMY"></script>

  <script src="../static/waypoints/waypoints.min.js"></script>
  <script src="../static/counterup/counterup.min.js"></script>
  <script src="../static/superfish/hoverIntent.js"></script>
  <script src="../static/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

</body>
</html>
