<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Компания "Домалогика" Умные технологии.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <link href="http://getbootstrap.ru/docs/v4-alpha/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .ggree {
      background: rgba(98, 98, 98, 0.73);
      border-radius: 5px;
      padding: 15px 10px 0;
      margin-bottom: 50px;
    }
    .ggrees {
      color: #fff !important;
      text-decoration: none;
    }
  </style>
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" style="background: rgb(52, 59, 64);">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://domalogica.com/#hero">Главная</a></li>
          <li><a href="http://domalogica.com/#portfolio">Проекты</a></li>
          <li><a href="http://domalogica.com/#contact">Команда</a></li>
          <li class="menu-active"><a href="/vacancies">Вакансии</a></li>
          <!-- <li><a href="#services">СМИ</a></li> -->
          <!-- <li><a href="#team">Контакты</a></li> -->
          <!-- <li><a href="#about">О нас</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<br><br><br><br>
<main id="main">	
  
  <section id="facts">
        <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="section-header">
            <h3 class="section-title">Отклик на вакансию</h3>
            <p class="section-description">Менеджер по закупкам/логист</p>
          </div>
          <div class="row counters">

                      <div class="col-md-12">

                              <div class="card-content table-responsive">

								
								<form method="post">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Фамилия / Имя / Отчество</label>
								    <input type="text" class="form-control" id="_1" aria-describedby="emailHelp" required placeholder="Фамилия / Имя / Отчество">
								  </div>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Номер телефона / Электронная почта</label>
								    <input type="text" class="form-control" id="_2" aria-describedby="emailHelp" required placeholder="Номер телефона / Электронная почта">
								  </div>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Адрес проживания</label>
								    <input type="text" class="form-control" id="_3" aria-describedby="emailHelp" required placeholder="Адрес проживания">
								  </div>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Образование / компетенции</label>
								    <input type="text" class="form-control" id="_4" aria-describedby="emailHelp" required placeholder="Образование / компетенции">
								    <small id="emailHelp" class="form-text text-muted">Что вы знаете и умеете? например: языки, работать дрелью</small>
								  </div>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Желаемые должности / Зарплата</label>
								    <input type="text" class="form-control" id="_5" aria-describedby="emailHelp" required placeholder="Желаемые должности / Зарплата">
								  </div>
								  <div class="form-group">
								    <label for="exampleInputEmail1">Место работы</label>
								    <input type="text" class="form-control" id="_6" aria-describedby="emailHelp" required placeholder="Место работы">
								    <small id="emailHelp" class="form-text text-muted">(перечислите компанию, должность, время работы, зарплату, причину увольнения)</small>
								  </div>
								  <div class="form-group">
								    <label for="exampleTextarea">Чего вы ждете от работы в нашей компании?</label>
								    <textarea class="form-control" id="_7" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какие у вас есть опасения, что вас может не устроить в нашей компании?</label>
								    <textarea class="form-control" id="_8" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Что на прошлой работе, было для Вас интереснее всего?</label>
								    <textarea class="form-control" id="_9" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">От чего на прошлой работе вы получали наибольшее удовлетворение?</label>
								    <textarea class="form-control" id="_10" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Что вас тяготило на предыдущей работе?</label>
								    <textarea class="form-control" id="_11" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Что бы вам хотелось изменить в Вашей прошлой работе?</label>
								    <textarea class="form-control" id="_12" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какой должна быть работа, чтобы у Вас не ослабевал к ней интерес?</label>
								    <textarea class="form-control" id="_13" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Что вас больше всего демотивирует?</label>
								    <textarea class="form-control" id="_14" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какие виды поощрения Вы цените?</label>
								    <textarea class="form-control" id="_15" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Чего  по отношению к вам ни в коем случае нельзя делать?</label>
								    <textarea class="form-control" id="_16" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Как Вас не надо поощрять?</label>
								    <textarea class="form-control" id="_17" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какие у вас есть привязанности и обязательства (прошлая работа, учеба, семья и пр.)?</label>
								    <textarea class="form-control" id="_18" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Хобби, Увлечения?</label>
								    <textarea class="form-control" id="_19" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Опишите идеального директора?</label>
								    <textarea class="form-control" id="_20" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Опишите идеальную компанию?</label>
								    <textarea class="form-control" id="_21" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Чем по вашему хороший сотрудник отличается от плохого?</label>
								    <textarea class="form-control" id="_22" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Ваши действия в случае несогласия с руководителем?</label>
								    <textarea class="form-control" id="_23" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">В каком направлении вы бы хотели развиваться. Какие навыки прокачать?</label>
								    <textarea class="form-control" id="_24" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">По каким критериям вы бы оценивали ваш труд?</label>
								    <textarea class="form-control" id="_25" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">За что по вашему стоит сразу уволить сотрудника?</label>
								    <textarea class="form-control" id="_27" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Что может стать причиной вашего увольнения по собственному желанию?</label>
								    <textarea class="form-control" id="_29" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Как быстро влиться в команду?</label>
								    <textarea class="form-control" id="_30" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какие ваши сильные стороны?</label>
								    <textarea class="form-control" id="_31" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какие ваши слабые стороны?</label>
								    <textarea class="form-control" id="_32" rows="3" required></textarea>
								  </div><div class="form-group">
								    <label for="exampleTextarea">Какая ваша любимая книга и почему?</label>
								    <textarea class="form-control" id="_33" rows="3" required></textarea>
								  </div>
								  <div class="form-check">
								    <label class="form-check-label">
								      <input type="checkbox" class="form-check-input" id="_34" required>
								      Даю согласие на обработку персональных данных
								    </label>
								  </div>
								  <button type="submit" class="btn btn-primary">Отправить</button>
								</form>
                          
                      </div>
                  </div>
              </div>

          </div>

        
      </section>
</main>	
<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <strong>&copy; Domalogica</strong> 2018
    </div>
    <div class="credits">
      Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
    </div>
  </div>
</footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- JavaScript Libraries -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="http://getbootstrap.ru/docs/v4-alpha/dist/js/bootstrap.js"></script>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/easing/easing.min.js"></script>
  <script src="../static/wow/wow.min.js"></script>

  <script src="../static/superfish/superfish.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>
</html>