<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Компания "Домалогика" Умные технологии.</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/favicon.jpg" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <link href="http://getbootstrap.ru/docs/v4-alpha/dist/css/bootstrap.css" rel="stylesheet">

  <style>
    .ggree {
      background: rgba(98, 98, 98, 0.73);
      border-radius: 5px;
      padding: 15px 10px 0;
      margin-bottom: 50px;
    }
    .ggrees {
      color: #fff !important;
      text-decoration: none;
    }
  </style>
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" style="background: rgb(52, 59, 64);">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="../static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="http://domalogica.com/#hero">Главная</a></li>
          <li><a href="http://domalogica.com/#portfolio">Проекты</a></li>
          <li><a href="http://domalogica.com/#contact">Команда</a></li>
          <li class="menu-active"><a href="/vacancies">Вакансии</a></li>
          <!-- <li><a href="#services">СМИ</a></li> -->
          <!-- <li><a href="#team">Контакты</a></li> -->
          <!-- <li><a href="#about">О нас</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<br><br><br><br>
<main id="main">	
  <section id="call-to-action" style="padding: 10px 0;">
        <div class="container wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Менеджер по закупкам/логист</h3>
              <p class="cta-text" style="font-size: 14px;">
				В отдел снабжение комапнии домалогика нужен менеджер по закупкам.
        <br>
				<strong>Портрет каким должен быть менеджер по закупкам.</strong>
        <br>
				Опытный пользователь интернета. Умение найти в интернете то что нужно и за нужную цену
        <br>
				Иметь аналитический склад ума, умение анализировать поступающие запросы
        <br>
				Исполнительность<br>
				Обучаемость<br>
				Честность<br>
				Умение грамотно вести деловую переписку.<br>
				Желательно наличие автомобиля или наличия прав<br>
				<br>
				<strong>Обязанности</strong><br>
				получает заявки со склада<br>
				мониторит поставщиков<br>
				изучает спецификацию<br>
				составляет план поставки на основе производственного плана<br>
				организует поставки на склад  согласно плану поставок<br>
				организует  поставку сборок (полуфабрикатов) между цехами<br>
              </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="/vacancies_msg">Подать заявку</a>
            </div>
          </div>

        </div>
      </section>

</main>	
<!--==========================
  Footer
============================-->
<br><br><br><br><br><br><br><br><br><br><br><br>
<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <strong>&copy; Domalogica</strong> 2018
    </div>
    <div class="credits">
      Наука, технологии и инженерное дело в Махачкале, респ. Дагестан.
    </div>
  </div>
</footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- JavaScript Libraries -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="http://getbootstrap.ru/docs/v4-alpha/dist/js/bootstrap.js"></script>

  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/easing/easing.min.js"></script>
  <script src="../static/wow/wow.min.js"></script>

  <script src="../static/superfish/superfish.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
</body>
</html>